@media screen and (max-width: 1200px){
    .nav{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height:60px;
        background-color:var(--color);
        justify-content: space-between;
    }
    
    /* .wrapper{
        display: none;
    }
    .search{
        display: none;
    }
    .bar{
        display:block;
        margin-top: 20px;
    } */
    .logo{
        float: left;
        margin-left: 10px;
    }
    .logo-image{
        width:50px;
    }
    .search{
        flex-direction: row;
        flex-wrap: wrap;
        display:flex;
        justify-content: flex-end;
        margin-left:30px;
        margin-top: 5px;
    }
    .search input{
        height:30px;
        width:210px;
        border-radius: 5px;
        background-color: #eeeeee;
        border: none;
    }
    .submitbtn{
        height:30px;
        width:50px;
        border-radius: 5px;
        background-color: #eeeeee;
        margin-left: 5px;
        border: none;
    }
    .navbar{
        height: 80px;
    }
    
    .navbar-button i{
        display: block;
    }
    .wrap-buttons{
        margin-left: 0;
        margin-top: 10px;
        justify-content: space-between;
    }
    .navbar-button{
        margin-top: 5px;
        font-size: 10px;
        margin-bottom: 10px;
        transition: 0.5s;
        margin-right: 10px;
        text-align: center;
    }
    .navbar-button img{
        margin-right: 10px;
        width:20px;
    }
    .dropdown {
        margin-left: -50px;
    }
    

    /* /nav*/
    .p-item{
        display: inline-block;
        justify-content: flex-start;
        margin-left: 10px;
        margin-bottom: 30px;
        width: 150px;
        border-radius: 18px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .price{
        font-size: 1.00rem;
    }
    .products-wrap{
        justify-content: center;
    }
    .u-product-title-link{
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 0;
    }
    .products{
        background-color: #fff;
        width: 85%;
        min-height: 650px;
        text-align: center;
    }
    .product{
        width: 235px;
    }
    /* .close{
        display: block;
        margin-left: 200px;
        margin-top:10px;
        text-align: center;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #eeeeee;
        transition: all .4s ease-in-out;
        transform: translateX(-300px);
    }
    .close i{
        margin-top: 8px;
        z-index: 5;
    }
    .side{
        position: fixed;
        width:250px;
        height: 100%;
        width: 250px;
        padding-top: 0;
        background-color: #eeeeee;
        overflow-y: scroll;
        z-index: 5;
        transition: all .4s ease-in-out;
        transform: translateX(-300px);
    }
    .side-show{
        transform: translateX(0);
    }
    .side::-webkit-scrollbar{
        all:unset;
    }
    .side::-webkit-scrollbar-thumb{
        all: unset;
    }
    .side::-webkit-scrollbar-track{
        all: unset;
    } */
    /* .mob-nav{
        display: block;
    } */
   /*  .mob_cart{
        display: block;
        margin-right: 20px;
        margin-top: 5px;
    }
    .mob_cart i{
        color: blue;
    }
    #mob-in-cart{
        position: relative;
        width:18px;
        height:18px;
        margin-left: 15px;
        font-size: 14px;
        margin-top: 5px;
    }
    .mob_cart .cart-number{
        width:18px;
        height:18px;
        background-color: red;
        border-radius: 18px;
        font-size: 14px;
    }
    .contain{
        float:right;
        min-height:calc(100% - 200px);
        width:100%;
        margin-top: 0px;
        background-color: rgb(230, 221, 221);
        justify-content: center;
    }
    .mob-wrapper{
        display: block;
    }
    .mob-wrapper .header_cont{
        vertical-align: top;
        height:30px;
        width:30px;
        margin:10 20px;
        background: #ffffff;
        border-radius: 50px;
        cursor:pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .mob-wrapper .header_cont .icon{
        display:inline-block;
        height:50px;
        width: 50px;
        margin-top: 8px;
        margin-left:-10px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
    }
    .mob-wrapper .header_cont .span{
        display:inline-block;
        width: 150px;
        margin-top: -55px;
        margin-left: 50px;
        font-size: 15px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .mob-wrapper .header_cont .icon i{
        color: blue;
    }
    .mob-wrapper .header_cont:hover{
        background-color: var(--color);
    }
    .mob-search{
        margin-top: 15px;
        margin-left: 15px;
    }
    .mob-search input{
        height:30px;
        border-radius: 10px;
        background-color: #eeeeee;
        margin-left: 5px;
        border: 1px solid #5c5757;
    }
    .mob-search .mob-submitbtn{
        height:30px;
        border-radius: 10px;
        background-color: #eeeeee;
        margin-left: 5px;
        border: 1px solid #5c5757;;
    }
    .products{
        width: 90%;
        min-height: 800px;
        min-height: 200px;
        height:auto;
        margin-left: 0;
    }
    .products > .article-card{
        display: inline-block;
    }
    .stock-content{
        margin-top: 60px;
        width: 100%;
    }
    .content{
        padding-top: 20px;
        background-color: #fff;
    }
    .article-card{
        float: none;
        border-radius: 0px;
        margin-left: 5px;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        margin-bottom: 10px;
        margin-top: 10px;
        width:90px;
    }
    .card-image{
        width: 90px;
        height: 90px;
    }
    .card-button .add{
        display: none;
    }
    .aboutbtn{
        height: 20px;
        margin-bottom: 5px;
    }
    .v-btn{
        display: none;
    }
    .price-container{
        display: none;
    }
    .card-body{
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .loading{
        display: block;
        background-color: #fff;
        width: 100%;
        min-height: 600px;
        position: absolute;
        padding: 2px;
        text-align: center;
        opacity: .5;
        z-index: 2;
    }*/
    .first-login{
        min-width: unset;
        margin-left: 0;
    }
    .first-login h1{
        display: block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .first-login input{
        width:300px;
        height:50px;
        margin-left: 0;
    }
    .first-login label{
        width:100%;
        margin-right: 150px;
    }
    .first-login .submitbtn{
        margin-left: 150px;
    }
    
    .form{
        min-width: unset;
        margin-left: 0;
    }
    .form h1{
        display: block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .form input{
        width:300px;
        height:50px;
        margin-left: 0;
    }
    .form select{
        width:300px;
        height:50px;
        margin-bottom: 30px;
    }
    .form label{
        width:100%;
        margin-right: 150px;
    }
    .form .submitbtn{
        margin-left: 150px;
    }/*
    .shop-list{
        min-width: unset;
        width: 100%;
        text-align: center;
    }
    .shop-button{
        width:300px;
        margin-left: 0;
    }
    .cover-image{
        margin-top: 60px;
    }
    .top{
        margin-top: 60px;
        background-size: 100%;
        padding-top: 8%;
    }
    .top-list ul li:first-child{
        display: none;
    }
    .top-list ul li a{
        font-size: 15px;
        padding-left: 0;
    }
    /* sell_article */
    .article_upload{
        width: 100%;
        margin-top: 50px;
    }
    .counter_sell{
        margin-left: 350px;
        text-align: end;
    }
    .color_checkbox{
        text-align: left;
        margin-left:100px;
    }
    #check_color select{
        width: 280px;
    }
    .article_upload select{
        width:300px;
        margin-left: 0;
    }
    .article_upload textarea{
        width:300px;
        margin-left: 0;
    }
    .article_upload input{
        width:300px;
        margin-left: 0;
    }
    .article_upload .inputfile{
        width: 280px;
        overflow: hidden;
    }
    /*
    .img-button{
        width:295px;
        margin-left: auto;
        margin-right: auto;
    }*/

    .split{
        margin-top: 50px;
        width:100%;
        text-align: center;
    }
    .split img{
        width: 500px !important;
        height: 500px !important;
    }
    .name{
        width:150px;
    }
    .article-desc{
        width:400px;
    }
    .desc{
        width: 300px;
        margin-left: 0px;
    }
    .form-desc input{
        margin-top: 30px;
        margin-left: 0px;
        width: 400px;
        height: 50px;
    }
    .pub-div{
        width: 100%;
    }
    .pub-box{
        display: block;
        margin-left: 0;
        width: 100%;
    }
    .input-price{
        width:300px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-price > input{
        width: 260px;
    }
    .pub-box > div{
        display: inline-block;
        margin-bottom: 30px;
    }
    .pub{
        width:400px;
        height:400px;
        margin-top: 20px;
        background-color: #888888;
    }

  
    /*tables*/
    #sld-table .tab th:nth-child(2){
        display: none;
    }
    #sld-table .tab td:nth-child(2){
        display: none;
    }
    .tab tr, .tab th{
        border: 1px solid #ddd;
        padding: 3px;
    }
    #st_table .tab th:nth-child(3){
        display: none;
    }
    #st_table .tab td:nth-child(3){
        display: none;
    }
    .tab th{
        font-size: 10px;
    }
    .tab td{
        font-size: 13px;
    }
    .tab th:nth-child(4){
        display: none;
    }
    .tab td:nth-child(4){
        display: none;
    }
    #sld-table .tab th:nth-child(5){
        display: none;
    }
    #sld-table .tab td:nth-child(5){
        display: none;
    }
    .minus button{
        width:30px;
        height:30px;
    }
    .plus button{
        width:30px;
        height:30px;
    }
    /* /tables */
    /* shop setting */
    .grid-content > div{
        width: 100%;
    }
    .grid-item{
        background-color: #fff;
        text-align: left;
        font-size: 10px;
        width: 100px;
        word-break: break-all;
    }
    .change{
        text-align: start;
        margin-top: auto;
    }
    .change .change-input{
        width: 150px;
        height: 30px;
        margin-left: 0;
    }
    .change span p{
        color: rgb(249, 72, 72);
        font-size: 15px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .desctiption{
        border: 1px solid;
        margin-top: 50px;
        width: 300px;
        max-height: 300px;
        margin-left: 0px;
        overflow-y: scroll;
    }
    .text-input{
        margin-top: 20px;
        width: 300px;
        height: 100px;
        margin-left: 0px;
    }
    /* /shop setting */
    /* cm */
    .top{
        width:100%;
    }
    .cm-card{
        float: left;
        width: 500px;
        margin-left: 30px;
        margin-bottom: 30px;
        border-radius: 18px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .cm-image{
        max-width: 500px;
        max-height:500px;
    }
    /* cm modal*/
    #image_preview{
        width: 300px;
        height: 200px;
    }
    #image_preview_modif{
        width: 300px;
        height: 200px;
    }
    .cm-body{
        overflow-y: scroll;
    }
    .cm-form input{
        width:300px;
        height:30px;
        margin-bottom: 10px;
    }
    .cm-form textarea{
        width:300px;
        height:100px;
    }
    /* /cm modal*/
    .user>div{
        display: block;
    }
    .user-image{
        width: 80px;
    }
    .user-image img{
        width: 26px;
        height: 28px;
    }
    .online-stat{
        margin-left: 40px;
    }
    .user-name{
        margin-top: -4px;
        margin-left: -2px;
    }
    .content{
        text-align: center;
    }
    .content > div{
        display: block;
    }
    
/* /cm */

    /*
    .img-cart{
        width: 30px;
        height: 30px;
    }
    .grid-content > div{
        width: 100%;
    }
    .grid-item{
        background-color: #fff;
        text-align: left;
        font-size: 10px;
        width: 100px;
        word-break: break-all;
    }
    .change{
        text-align: start;
        margin-top: auto;
    }
    .change .change-input{
        width: 150px;
        height: 30px;
        margin-left: 0;
    }
    .change span p{
        color: rgb(249, 72, 72);
        font-size: 12px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .desctiption{
        border: 1px solid;
        margin-top: 50px;
        width: 300px;
        max-height: 300px;
        margin-left: 0px;
        overflow-y: scroll;
    }
    .text-input{
        margin-top: 20px;
        width: 300px;
        height: 100px;
        margin-left: 0px;
    }
    .login{
        margin-top: 60px;
        width: 100%;
    }
    .login label{
        width:150px;
    }
    .login input{
        width:280px;
        height: 50px;
    }
    .login .email{
        margin-left: 0px;
    }
    .login .password{
        margin-left:0;
    }
    .login button{
        margin-top: 10px;
        width: 100px;
        height: 30px;
        font-size: 18px;
    }
    .buy{
        width: 100%;
    }
    .buy .tab th:nth-child(3){
        display: none;
    }
    .buy .tab td:nth-child(3){
        display: none;
    }
    .confirm{
        width: 100%;
    }
    .confirm label{
        width:150px;
        margin-right: 30px;
    }
    .confirm input{
        width:280px;
        height: 50px;
    }
    .confirm button{
        margin-top: 10px;
        margin-left: 0;
        width: 100px;
        height: 30px;
        font-size: 18px;
    }
    .confirm .country{
        margin-left: 0px;
    }
    .confirm .p_code{
        margin-left:0;
    }
    */
    
    .footer{
        margin-left: 0;
        height:200px;
        width:100%;
        background-color: #0e0a0a;
    }/*
}
@media screen and (max-width: 300px){
    .top{
        margin-top: 60px;
        background-size: 100%;
        padding-top: 4%;
    }
    .shop-button{
        width:150px;
    }
    .first-login input{
        width:200px;
        height:50px;
    }
    .first-login label{
        width:100%;
        margin-right: 100px;
    }
    .first-login .submitbtn{
        margin-left: 100px;
    }
    
    .form{
        min-width: unset;
        margin-left: 0;
    }
    .form h1{
        display: block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .form input{
        width:200px;
    }
    .form select{
        width:200px;
        height:50px;
        margin-bottom: 30px;
    }
    .form label{
        width:100%;
        margin-right: 100px;
    }
    .form .submitbtn{
        margin-left: 0;
    }
    .article_upload select{
        width:180px;
    }
    .article_upload textarea{
        width:180px;
    }
    .article_upload input{
        width:180px;
    }
    .article_upload .inputfile{
        width: 180px;
    }
    .input-price{
        width:180px;
        height: 80px;
    }
    #article_img{
        max-width: 200px;
        max-height: 100px;
    }
    .counter{
        margin-left: 180px;
        text-align: end;
    }
    .img-button{
        width:180px;
    }
    .desctiption{
        width: 180px;
        overflow-y: scroll;
    }
    .text-input{
        width: 180px;
    }
    .tab th:first-child{
        display: none;
    }
    .tab td:first-child{
        display: none;
    }
    #sld-table .tab th:nth-child(5){
        display: none;
    }
    #sld-table .tab td:nth-child(5){
        display: none;
    }
    .name{
        width:100px;
    }
    .article-desc{
        width:100px;
    }
    .desc{
        width: 200px;
        margin-left: 0px;
    }
    .split img{
        width: 200px !important;
        height: 200px !important;
    }
    .form-desc input{
        margin-top: 30px;
        margin-left: 0px;
        width: 200px;
        height: 50px;
    } */
    .page{
        margin-left: 2px;
    }
    .page-white{
        margin-left: 2px;
    }
    .page-surf{
        margin-left: 2px;
    }
    @media screen and (max-width: 550px){
        .m-b-header{
            display: none !important;
        }
        .stock-content > div{
            display:  block;
        }
        .stock{
            background-color: #fff;
            width:100%;
            height: auto;
            text-align: center;
            min-height: 600px;
        }
        .side{
            border: none;
            min-height: auto;
            width: 100%;
            padding-left: 0;
        }
        #quantity{
            width: 60px;
            height: 26px;
            margin-top: 5px;
        }
        .tab-delete{
            width:30px;
            height:30px;
        }
            /* cart */
        .cart-card{
            width: 350px;
            margin-left: 10px;
        }
        .cart-image{
            width:135px;
            height:100px;
            margin-left: 0;
        }
        .cart-art-desc > div{
            width:150px;
            margin-top: 0;
        }
        /* sell_article */
        .counter_sell{
            margin-left: 290px;
            text-align: end;
        }
        /* /sell_article */
        /* /cart */
        .p-item{
            display: inline-block;
            justify-content: flex-start;
            margin-left: 10px;
            margin-bottom: 30px;
            width: 120px;
            border-radius: 18px;
            box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
        }
        .price{
            font-size: 1.00rem;
        }
        .u-product-title-link{
            font-size: 20px;
            margin-bottom: 5px;
            line-height: 0;
        }
        .products{
            background-color: #fff;
            width: 80%;
            min-height: 650px;
            text-align: center;
        }
        .surf-left{
            float: left;
            margin-left: 0;
            height: 50px;
        }
        .surf-left span{
            display: none;
        }
        .surf-right span{
            display: none;
        }
        .surf-right{
            margin-right: 0;
            height: 50px;
            float: left;
        }
        .surf-button{
            width: 30px;
        }
        .surf-button button{
            width: 30px;
        }
        .split{
            margin-top: 50px;
            width:100%;
            text-align: center;
        }
        .split img{
            width: 300px !important;
            height: 300px !important;
        }
        .name{
            width:150px;
        }
        .article-desc{
            width:150px;
        }
        .desc{
            width: 300px;
            margin-left: 0px;
        }
        .form-desc input{
            margin-top: 30px;
            margin-left: 0px;
            width: 300px;
            height: 50px;
        }
        .articlesubmit{
            margin-top: 30px;
            margin-left: 0px;
            width: 300px;
            height: 50px;
        }
        .footer{
            margin-left: 0;
            height:200px;
            width:100%;
            background-color: #0e0a0a;
        }
        .pub-div{
            width: 100%;
        }
        .pub-box{
            display: block;
            margin-left: 0;
            width: 100%;
        }
        .input-price{
            width:300px;
            margin-left: auto;
            margin-right: auto;
        }
        .input-price > input{
            width: 260px;
        }
        .pub-box > div{
            display: inline-block;
            margin-bottom: 30px;
        }
        .pub{
            width:350px;
            height:350px;
            margin-top: 20px;
            background-color: #888888;
        }
        /* login */
        .first-login input{
            width:200px;
            height:50px;
        }
        .first-login label{
            width:100%;
            margin-right: 100px;
        }
        .first-login .submitbtn{
            margin-left: 100px;
        }
        
        .form{
            min-width: unset;
            margin-left: 0;
        }
        .form h1{
            display: block;
            margin-top: 50px;
            margin-bottom: 0;
            font-size: 20px;
        }
        .form input{
            width:200px;
        }
        .form select{
            width:200px;
            height:50px;
            margin-bottom: 30px;
        }
        .form label{
            width:100%;
            margin-right: 100px;
        }
        .form .submitbtn{
            margin-left: 0;
        }
        /* /login */
        /* cm */
        .top{
            width:100%;
        }
        .cm-card{
            float: left;
            width: 90%;
            margin-left: 30px;
            margin-bottom: 30px;
            border-radius: 18px;
            box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
        }
        .cm-image{
            max-width: 500px;
            max-height:500px;
        }
        /* cm modal*/
        .cart-description_modal{
            margin-left: -90px;
        }
        .cm-modal-contents{
            width: 90%;
        }
        #image_preview_modif{
            width: 300px;
            height: 200px;
        }
        #image_preview{
            width: 300px;
            height: 200px;
        }
        .cm-form input{
            width:300px;
            height:30px;
            margin-bottom: 10px;
        }
        .cm-form textarea{
            width:300px;
            height:100px;
        }
        /* /cm modal*/
        /* /cm */
        .product{
            width:80%;
        }
        .self_article{
            margin-left: 230px;
        }
        .side-nav{
            float: none;
            position: relative;
            background-color: #fff;
            border-radius: 5px;
            text-align: center;
        }
        .side-nav ul li{
            display: inline-block;
            width:30%;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .side-nav ul li a{
            color: var(--button-color);
            font-size: 20px;
            margin-bottom: 10px;
        }
        .side-nav ul li:hover{
            background: var(--button-hover);
        }
        .cart_danger{
            width:100%;
        }
    }
}