@media screen and (max-width: 820px){
    .nav{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height:60px;
        background-color:var(--color);
        justify-content: space-between;
    }
    .logo{
        float: left;
        margin-left: 10px;
    }
    .logo-image{
        width:50px;
    }
    .search{
        flex-direction: row;
        flex-wrap: wrap;
        display:flex;
        justify-content: flex-end;
        margin-left:30px;
        margin-top: 5px;
    }
    .search input{
        height:30px;
        width:190px;
        border-radius: 5px;
        background-color: #eeeeee;
        border: none;
    }
    .submitbtn{
        height:30px;
        width:50px;
        border-radius: 5px;
        background-color: #eeeeee;
        margin-left: 5px;
        border: none;
    }
    .navbar{
        height: 80px;
    }
    
    .navbar-button i{
        display: block;
    }
    .wrap-buttons{
        margin-left: 0;
        margin-top: 10px;
        justify-content: space-between;
    }
    .navbar-button{
        margin-top: 5px;
        font-size: 10px;
        margin-bottom: 10px;
        transition: 0.5s;
        margin-right: 10px;
        text-align: center;
    }
    .navbar-button img{
        margin-right: 10px;
        width:20px;
    }
    .dropdown {
        margin-left: -50px;
    }
    

    /* /nav*/
    .p-item{
        display: inline-block;
        justify-content: flex-start;
        margin-left: 10px;
        margin-bottom: 30px;
        width: 150px;
        border-radius: 18px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .price{
        font-size: 1.00rem;
    }
    .products-wrap{
        justify-content: center;
    }
    .u-product-title-link{
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 0;
    }
    .products{
        background-color: #fff;
        width: 85%;
        min-height: 650px;
        text-align: center;
    }
    .first-login{
        min-width: unset;
        margin-left: 0;
    }
    .first-login h1{
        display: block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .first-login input{
        width:80%;
        height:50px;
        margin-left: 0;
    }
    .first-login label{
        width:100%;
        margin-right: 60%;
    }
    .first-login .submitbtn{
        margin-left: 150px;
    }
    
    .form{
        min-width: unset;
        margin-left: 0;
    }
    .form h1{
        display: block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .form input{
        width:80%;
        height:50px;
        margin-left: 0;
    }
    .form select{
        width:80%;
        height:50px;
        margin-bottom: 30px;
    }
    .form .checkbox{
        margin-left: 0;
    }
    .form label{
        width:100%;
        margin-right: 62%;
    }
    .form .submitbtn{
        margin-left: 150px;
    }
    /* sell_article */
    .article_upload{
        width: 100%;
        margin-top: 50px;
    }
    .counter_sell{
        margin-left: 350px;
        text-align: end;
    }
    .color_checkbox{
        text-align: left;
        margin-left:100px;
    }
    #check_color select{
        width: 80%;
    }
    .article_upload select{
        width: 80%;
        margin-left: 0;
    }
    .article_upload textarea{
        width: 80%;
        margin-left: 0;
    }
    .article_upload input{
        width: 80%;
        margin-left: 0;
    }
    .article_upload .inputfile{
        width: 80%;
        overflow: hidden;
    }
    .split{
        margin-top: 50px;
        width:100%;
        text-align: center;
    }
    .split img{
        width: 500px !important;
        height: 500px !important;
    }
    .name{
        width:150px;
    }
    .article-desc{
        width:400px;
    }
    .desc{
        width: 300px;
        margin-left: 0px;
    }
    .form-desc input{
        margin-top: 30px;
        margin-left: 0px;
        width: 400px;
        height: 50px;
    }
    .pub-div{
        width: 100%;
    }
    .pub-box{
        display: block;
        margin-left: 0;
        width: 100%;
    }
    
    .input-price{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .input-price > input{
        width:90%;
    }
    .pub-box > div{
        display: inline-block;
        margin-bottom: 30px;
    }
    .pub{
        margin-top: 20px;
    }
    .pub img{
        width:350px;
    }

  
    /*tables*/
    #sld-table .tab th:nth-child(2){
        display: none;
    }
    #sld-table .tab td:nth-child(2){
        display: none;
    }
    .tab tr, .tab th{
        border: 1px solid #ddd;
        padding: 3px;
    }
    #st_table .tab th:nth-child(3){
        display: none;
    }
    #st_table .tab td:nth-child(3){
        display: none;
    }
    .tab th{
        font-size: 10px;
    }
    .tab td{
        font-size: 13px;
    }
    .tab th:nth-child(4){
        display: none;
    }
    .tab td:nth-child(4){
        display: none;
    }
    #sld-table .tab th:nth-child(5){
        display: none;
    }
    #sld-table .tab td:nth-child(5){
        display: none;
    }
    .minus button{
        width:30px;
        height:30px;
    }
    .plus button{
        width:30px;
        height:30px;
    }
    /* /tables */
    /* shop setting */
    .grid-content > div{
        width: 100%;
    }
    .grid-item{
        background-color: #fff;
        text-align: left;
        font-size: 10px;
        width: 100px;
        word-break: break-all;
    }
    .change{
        text-align: center;
        margin-top: auto;
    }
    .change .change-input{
        width: 150px;
        height: 30px;
        margin-left: 0;
    }
    .change span p{
        color: rgb(249, 72, 72);
        font-size: 15px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .desctiption{
        border: 1px solid;
        margin-top: 50px;
        width: 300px;
        max-height: 300px;
        margin-left: 0px;
        overflow-y: scroll;
    }
    .text-input{
        margin-top: 20px;
        width: 300px;
        height: 100px;
        margin-left: 0px;
    }
    /* /shop setting */
    /* cm */
    .top{
        width:100%;
    }
    .cm-card{
        float: left;
        width: 500px;
        margin-left: 30px;
        margin-bottom: 30px;
        border-radius: 18px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    }
    .cm-image{
        max-width: 500px;
        max-height:500px;
    }
    /* cm modal*/
    #image_preview{
        width: 300px;
        height: 200px;
    }
    #image_preview_modif{
        width: 300px;
        height: 200px;
    }
    /* .cm-body{
        overflow-y: scroll;
    } */
    .cm-form input{
        width:300px;
        height:30px;
        margin-bottom: 10px;
    }
    .cm-form textarea{
        width:300px;
        height:100px;
    }
    /* /cm modal*/
    .user>div{
        display: block;
    }
    .user-image{
        width: 80px;
    }
    .user-image img{
        width: 26px;
        height: 28px;
    }
    .online-stat{
        margin-left: 40px;
    }
    .user-name{
        margin-top: -4px;
        margin-left: -2px;
    }
    .content{
        text-align: center;
    }
    .content > div{
        display: block;
    }
    

    .contact input[type=text]{
        width: 90%;
    }
    .contact input[type=email]{
        width: 90%;
    }
    .contact textarea{
        width: 90%;
        height:80px;
    }
    .footer{
        margin-left: 0;
        height:200px;
        width:100%;
        background-color: #0e0a0a;
    }
    .page{
        margin-left: 2px;
    }
    .page-white{
        margin-left: 2px;
    }
    .page-surf{
        margin-left: 2px;
    }
    /* shop */
    .shop_products{
        float: none;
        width:100%;
        text-align: center;
    }
    .stock_products{
        float: none;
        width:100%;
        text-align: center;
    }
    .sub-menu-cart{
        text-align: center;
        margin-left: -10px;
    }
    .shop-search{
        float:none;
        height: 40px;
    }
    .bar{
        display: block;
        float: left;
        margin-top: 10px;
    }
    .container>div{
        display: block !important;
    }
    .fl-right{
        float: right;
    }
    /* .cover-pict{
        width: 100%;
    } */
    .modif-cover {
        height: 32px;
        margin-left: 0;
        margin-top:-70px;
    }
    /* #add_cm{
        margin-top: 5px;
    } */
    .navigation{
        text-align: center;
    }
    .mainmenu ul li a{
        font-size: 16px;
    }
    .left-sidebar{
        position: absolute;
        width: 40%;
        padding-top: 5px;
        min-height: 100%;
        background-color: rgb(17, 16, 16);
        overflow: scroll;
        z-index: 999;
        transition: all .4s ease-in-out;
        transform: translateX(-120%);
    }
    .stock-sidebar{
        position: absolute;
        width: 40%;
        padding-top: 5px;
        min-height: 100%;
        background-color: rgb(17, 16, 16);
        overflow: scroll;
        z-index: 999;
        transition: all .4s ease-in-out;
        transform: translateX(-120%);
    }
    .product{
        margin-left: -4px;
    }
    #close-nav{
        font-size: 50px;
        color: #696763;
        margin-left: 85%;
    }
    .shop-info{
        text-align: start;
        margin-left: 20px;
    }
    .admins-section{
        text-align: start;
        margin-left: 10px;
    }
    .admins{
        margin-left: 10px;
    }
    .shop-categorie{
        text-align: start;
        margin-left: 10px;
    }
    .left-sidebar h2{
        text-align: start;
        margin-left: 10px;
    }
    .side-show{
        transform: translateX(-42px);
    }
    .cat_list li a{
        background-color: rgb(17, 16, 16);;
    }
    .cm-modal-contents{
        width:80%
    }
    .sub-menu{
        margin-left: 275px;
        top:10px;
    }
    .sub-menu li {
        margin-left: 0px;
    }
    @media screen and (max-width: 550px){
        .m-b-header{
            display: none !important;
        }
        .stock-content > div{
            display:  block;
        }
        #input-addautocomplete-list{
            margin-left: 0px;
        }
        .admins{
            margin-left: 3px;
        }
        .stock{
            background-color: #fff;
            width:100%;
            height: auto;
            text-align: center;
            min-height: 600px;
        }
        .side{
            border: none;
            min-height: auto;
            width: 100%;
            padding-left: 0;
        }
        #quantity{
            margin-top: 5px;
        }
        .tab-delete{
            width:30px;
            height:30px;
        }
        .cat-drop{
            margin-left: 0;
            padding-bottom: 40px;
        }
        .article-table th{
            min-width: 50px;
        }
        .cart-drop{
            margin-left: -107px;
        }
        .article-description{
            min-width: 100%;
        }
            /* cart */
        .cart-card{
            width: 284px;
            margin-left: 10px;
        }
        .search{
            margin-left: 5px;
        }
        .search input{
            width:150px;
        }
        .cart-image{
            width:110px;
            height:100px;
            margin-left: 0;
        }
        .cart-art-desc > div{
            width:140px;
            margin-top: 0;
        }
        /* sell_article */
        .counter_sell{
            margin-left: 290px;
            text-align: end;
        }
        /* /sell_article */
        /* /cart */
        .p-item{
            display: inline-block;
            justify-content: flex-start;
            margin-left: 10px;
            margin-bottom: 30px;
            width: 120px;
            border-radius: 18px;
            box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
        }
        .price{
            font-size: 1.00rem;
        }
        .u-product-title-link{
            font-size: 20px;
            margin-bottom: 5px;
            line-height: 0;
        }
        .body-container {
            width: 100% !important;
            margin: auto;
        }

        .products{
            background-color: #fff;
            width: 100%;
            min-height: 650px;
            text-align: center;
        }
        .shop_products {
            float: none;
            width: 100%;
            text-align: -webkit-center;
        }
        .stock_products{
            float: none;
            width:100%;
            text-align: -webkit-center;
        }
        .productinfo {
            text-align: -webkit-center;
        }
        .surf-button{
            width: 30px;
        }
        .surf-button button{
            width: 30px;
        }
        .split{
            margin-top: 50px;
            width:100%;
            text-align: center;
        }
        .split img{
            width: 300px !important;
            height: 300px !important;
        }
        .name{
            width:150px;
        }
        .article-desc{
            width:150px;
        }
        .desc{
            width: 300px;
            margin-left: 0px;
        }
        .form-desc input{
            margin-top: 30px;
            margin-left: 0px;
            width: 300px;
            height: 50px;
        }
        .articlesubmit{
            margin-top: 30px;
            margin-left: 0px;
            width: 300px;
            height: 50px;
        }
        .footer{
            margin-left: 0;
            height:200px;
            width:100%;
            background-color: #0e0a0a;
        }
        .pub-div{
            width: 100%;
        }
        .pub-box{
            display: block;
            margin-left: 0;
            width: 100%;
        }
        .input-price{
            width:80%;
            margin-left: auto;
            margin-right: auto;
        }
        .input-price > input{
            width: 90%;
        }
        .pub-box > div{
            display: inline-block;
            margin-bottom: 30px;
        }
        .pub{
            margin-top: 20px;
        }
        .pub img{
            width:350px;
        }
        /* login */
        .first-login label{
            margin-right: 37%;
        }
        .first-login .submitbtn{
            margin-left: 100px;
        }
        
        .form{
            min-width: unset;
            margin-left: 0;
        }
        .form h1{
            display: block;
            margin-top: 50px;
            margin-bottom: 0;
            font-size: 20px;
        }
        .form select{
            height:50px;
            margin-bottom: 30px;
        }
        .form label{
            width:100%;
            margin-right: 41%;
        }
        .form .submitbtn{
            margin-left: 0;
        }
        /* /login */
        /* cm */
        .top{
            width:100%;
        }
        .cm-card{
            float: left;
            width: 90%;
            margin-left: 30px;
            margin-bottom: 30px;
            border-radius: 18px;
            box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
        }
        .cm-image{
            max-width: 500px;
            max-height:500px;
        }
        /* cm modal*/
        .cart-description_modal{
            margin-left: -90px;
        }
        /* #add_cm{
            margin-top: 0;
        } */
        .modif-cover {
            margin-top:-122px;
        }
        .cm-modal-contents{
            width: 100%;
            height: 85%;
        }
        #image_preview_modif{
            width: 300px;
            height: 200px;
        }
        #image_preview{
            width: 300px;
            height: 200px;
        }
        .cm-form input{
            width:300px;
            height:30px;
            margin-bottom: 10px;
        }
        .cm-form textarea{
            width:300px;
            height:100px;
        }
        /* /cm modal*/
        /* /cm */
        .product{
            float: none;
            width:80%;
            margin: auto;
        }
        .self_article{
            margin-left: 230px;
        }
        .side-nav{
            float: none;
            position: relative;
            background-color: #fff;
            border-radius: 5px;
            text-align: center;
        }
        .side-nav ul li{
            display: inline-block;
            width:30%;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .side-nav ul li a{
            color: var(--button-color);
            font-size: 20px;
            margin-bottom: 10px;
        }
        .side-nav ul li:hover{
            background: var(--button-hover);
        }
        .cart_danger{
            width:100%;
        }
        .side-show{
            transform: translateX(0);
        }
        .left-sidebar{
            width: 90%;
        }
        .sub-menu{
            margin-left: 68px;
            top:10px;
        }
        .sub-menu li {
            margin-left: 0px;
        }
    }
}