
:root {
  --content_width:90%;
  --color: rgba(0, 124, 163, 1);
  --text-color:#565656;
  --button-color:#111111;
  --button-hover:rgb(196, 215, 230);
  --button-delete:rgb(255, 89, 89);
  --margin: 80px;
}
body {
  font-family: 'Roboto', sans-serif;
  background:#fff;
  font-weight:400px;
  width:100%;
}
/* header */
.header-middle .container .logo {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}
.header-middle{
  width: var(--content_width);
  margin: auto;
}
.header-middle .container>div{
  display: inline-block;
}
.shop-navbar-button{
  display: inline;
}
.shop-navbar-button img{
  width:24px;
}
.shop-menu{
  float: right;
}
.shop-menu ul li{
  display: inline;
  width:100%;
  cursor: pointer;
  margin-left: 0px;
}
.shop-menu ul li a{
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  padding-right: 0;
  margin-top: 10px;
}
.shop-menu ul li a:hover{
  color: var(--color);
}
.header-bottom{
  width: var(--content_width);
  margin: auto;
  clear: both;
  margin-bottom: 20px;
}
.header-bottom .container>div{
  display: inline-block;
}
.shop-search{
  float: right;
  margin-top: 20px;
}
.search_box input{
  background: #c5dcec;
  border: medium none;
  color: #8d8b8b;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-repeat: no-repeat;
  background-position: 130px;
}
.search_box button{
  background: #c5dcec;
  border: medium none;
  color: #8d8b8b;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 130px;
}
.mainmenu ul li{
  display: inline;
  width:100%;
  cursor: pointer;
  margin-right: 10px;
}
.mainmenu ul li a{
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-right: 0;
  margin-top: 10px;
}

.mainmenu ul li a:hover{
  color: var(--color);
}

.sub-menu{
  position: absolute;
  top: 22px;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  display: none;
  z-index: 999;
}
.sub-menu{
  width: 220px !important;
  margin-left: 120px;
}
.sub-menu li{
  display: block !important;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.sub-menu li a{
  background: #696763 !important;
  color:#FFFFFF !important;
}
.sub-menu li a:hover{
  color: var(--button-hover) !important;
}
.drop-menu:hover .sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.body-container{
  width: var(--content_width);
  margin: auto;
}
/* .body-container>div{
  display: inline-block;
} */
.left-sidebar h2, .shop_products h2 {
  color: var(--color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.left-sidebar{
  width: 25%;
  float: left;
  min-height: 500px;
  overflow: hidden;
}
.shop_products{
  float: right;
  width: 75%;
  text-align: center;
}
.product-img{
  width: 200px;
  height: 200px;
  border: 1px solid #e9e3e3;
}
.productinfo img{
  width: 178px;
}
.text-center{
  text-align: center;
}

.line{
  width:80%;
  margin-left: 10%;
  background-color: #42414e;
  opacity: .2;
  border-radius: 3px;
  height: 3px;
  margin-bottom: 20px;
}
#in-cart-shop{
  width:20px;
  height:20px;
  margin-left: 10px;
  font-size: 14px;
  position: absolute;
  text-align: center;
}
.cart-shop-number{
  width:18px;
  height:18px;
  background-color: red;
  border-radius: 18px;
  font-size: 12px;
  padding-top: 2px;
}
.sub-menu-cart{
  position: absolute;
  top: 53px;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 120px;
  margin-left:4px;
  -webkit-box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  display: none;
  z-index: 999;
}
.sub-menu-cart a{
  background: #696763 !important;
  color:#FFFFFF !important;
  font-size: 17px;
  font-weight: 300;
}
.sub-menu-cart a:hover{
  color: var(--button-hover) !important;
}
.drop-menu-cart:hover .sub-menu-cart{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
.shop-info{
  text-align: center;
}
.shop-info p{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #696763;
}
.shop_products .stock{
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}
.shop_products .page-surf{
  padding-top: 5px;
}
.shop_products .page-white{
  padding-top: 5px;
}
.shop_products .page{
  padding-top: 5px;
}

/* user-status */
.drop-menu-user img{
  width: 27px;
  height: 27px;
  border-radius: 27px;
}
.drop-menu-user .user-name{
  margin-left: 5px;
}
.drop-menu-user .online-stat{
  width:10px;
  height:10px;
  margin-left: 20px; 
  position: absolute;
  text-align: center;
  background-color: rgb(69, 230, 41);
  border-radius: 10px;
  border: #fff solid 2px;
}

.sub-menu-user{
  position: absolute;
  top: 30px;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  display: none;
  z-index: 999;
}
.sub-menu-user{
  width: 130px !important;
  margin-left: 67px;
  text-align: center;
}
.sub-menu-user li{
  display: block !important;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.sub-menu-user li a{
  background: #696763 !important;
  color:#FFFFFF !important;
}
.sub-menu-user li a:hover{
  color: var(--button-hover) !important;
}
.drop-menu-user:hover .sub-menu-user{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
/* /user-status */
/* categorie list */
.shop-categorie {
  text-align: center;
}
.cat_list li{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.cat_list li a{
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-right: 0;
  margin-top: 0;
}
.cat_list li a:hover{
  color: var(--color);
}
/* /categorie list */
/* admin setting */
.admin-list li{
  display: inline-block;
}
.admin-names{
  border: 1px solid #42414e;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.admin-names a{
  float: right;
  border-left: 1px solid #42414e;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  max-width: 150px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.relpos{
  display: inline-block;
  position: relative;
}
#input-admin{
  position: absolute;
  background-color: #111111;
  width: 155px;
  height:50px;
}
#input-addautocomplete-list{
  position: absolute;
  background-color: #fff;
  border: 1px solid #8d8b8b;
  border-bottom: none;
  margin-left: 100px;
  text-align: start;
  border-top: none;
  width: 300px;
  z-index: 99;
  left: 0;
  right: 0;
}

.autocomplete-items-class>div{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
.autocomplete-items-class:hover{
  background-color: dodgerblue !important;
  color: #fff;
  cursor: pointer;
}
.autocomplete-active{
  background-color: dodgerblue !important;
  color: #fff;
}

.admin-image-search{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.admin-image-search img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.admin-name-search{
  margin-left: 10px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  word-break: unset;
  width: 230px;
  overflow: hidden;
}
/* /admin setting */
.modif-cover{
  height: 34px;
  margin-top: -38px;
  margin-left: 62px;
  border-radius: 10px;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 88;
}
.modif-cover button{
  margin-top: 0;
  height: 32px;
  border-radius: 10px;
  color: var(--color);
}
.img-button-color{
  color: #fff;
}
.img-button-color:hover{
  color: var(--color);
}
.lastsen{
  width:100px;
  height:18px;
  margin-left: 66px;
  padding-top: 3px;
  position: absolute;
  border-radius: 15px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.admins{
  margin-left: 65px;
  width: 250px;
}
.administrator{
  width: 200px;
}
.bar{
  display: none;
}
.cover{
  max-width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
.cover-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#close-nav{
  display:none;
}
.stock-sidebar{
  width: 10%;
  float: left;
  min-height: 500px;
  overflow: hidden;
}
.stock-sidebar ul li{
  display: block;
  width:45%;
  margin-bottom: 50px;
  cursor: pointer;
  text-align: center;
}
.stock-sidebar ul li a{
  color: var(--button-color);
  text-decoration: none;
  font-size: 15px;
}
.stock_products {
  float: right;
  width: 80%;
  text-align: center;
}
.stock {
  width: 100%;
}